In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.7/site-packages (8.0.18)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.11.1)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.4.0)

In [2]:
import mysql.connector
# imports the python package, mysql
import config1

In [3]:
db_name = 'hi'

In [4]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

In [5]:
# check to see if the database already 
try:
    cursor.execute("USE {}".format(db_name))

#if the previous line fails because there isn't a db by that name run this line

except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

NameError: name 'cursor' is not defined

In [9]:
cnx = mysql.connector.connect(
    host = config1.host,
    user = config1.user,
    passwd = config1.password
)
# this is PYTHON code.
# this allows you to connect to the AWS server.
# flatiron-database.c3qfl5qwsniw.us-east-1.rds.amazonaws.com is what you are connecting to.
# cnx is an OBJECT.

In [6]:
import json
f = open('students.json', 'r')
data = json.load(f)
# opens students file, loads the data, then stores it in the 'data' variable.

In [7]:
data[0].keys()

dict_keys(['name', 'dob', 'fav_food', 'birthplace', 'years_in_nyc'])

In [10]:
cursor = cnx.cursor()
# creates a cursor that we can use to execute commands.

In [11]:
cnx = mysql.connector.connect(
    host = config1.host,
    user = config1.user,
    passwd = config1.password
)
cursor = cnx.cursor()

In [14]:
cursor.execute("CREATE DATABASE hi")
# we pass a string through cursor.execute because Python cannot read SQL in anything
# other than a string.
# Python is taking this string, and telling the mysql package to run this command.

DatabaseError: 1007 (HY000): Can't create database 'hi'; database exists

In [15]:
cnx.database = 'hi'
# sets the current database and also retrieves current database name
# cnx.database is an ATTRIBUTE because it doesn't do anything other than assign
# and it also doesn't require parentheses.

In [22]:
create_query = """CREATE TABLE studentinfo2
    (name int,
    dob date,
    fav_food varchar(100),
    birthplace varchar(100),
    years_in_nyc float
    );
"""
cursor.execute(create_query)
#CREATE TABLE table_name (column1 type, column2, type, column3 type, etc...)
# we assign the command, create table to the create_query variable
# we execute this command using cursor.execute()

In [17]:
student = data[0]
student
# data is the file that we imported, with all the student data.
# we assign the first data line to the variable, student.

{'name': 'Anastasia Gorina',
 'dob': '1991-07-19',
 'fav_food': 'oysters',
 'birthplace': 'St. Petersburg, Russia',
 'years_in_nyc': 5}

In [18]:
(student['name'], student['birthplace'], student['dob'], student['fav_food'], student['years_in_nyc'])

('Anastasia Gorina', 'St. Petersburg, Russia', '1991-07-19', 'oysters', 5)

In [23]:
student_list = []
for student in data:
# assigns the variable student to each line in the data
    if 'birthdate' in student:
        student['dob'] = student['birthdate']
    student_tuple = (student['name'], student['dob'], student['fav_food'], student['birthplace'], student['years_in_nyc'])
    # loops through dictionary
    student_list.append(student_tuple)
    
student_list

[('Anastasia Gorina', '1991-07-19', 'oysters', 'St. Petersburg, Russia', 5),
 ('Andres M Chaves', '1983-01-22', 'chocolate', 'Bogota, CU', 6),
 ('Andrew Triola', '1989-10-17', 'baked ziti', 'Washington DC', 3),
 ('Anita Guo', '1990-12-17', 'Seafood Boil', 'Fuzhou, China', 16),
 ('Askhat Yktybaev', '1981-25-02', 'cheese cake', 'Bishkek, Kyrgyzstan', 3),
 ('Aviva Sally Mazurek', '1994-04-29', 'Burgers', 'Bronx, NY', 2),
 ('Ben Johnson-Laird',
  '1900-04-01',
  'Roast Beef and Yorkshire pudding',
  'London, UK',
  21),
 ('Brittany Fowle', '1992-05-27', 'noodles', 'Painesville, OH', 9),
 ('Chadwick Balloo', '1991-07-29', 'chicken', 'Queens, New York', 1),
 ('Ed Haracz', '1995-02-24', 'pizza', 'Glen Ridge, NJ', 0),
 ('Grace Park', '1990-04-05', 'sushi', 'Flushing, NY', 29),
 ('Jackson Bull', '1987-11-28', 'fried_chicken', 'Nashville, TN', 8),
 ('Julia Chong', '1996-11-27', 'soup dumplings', 'Portland, OR', 1.5),
 ('Owen Peng', '1996-05-04', 'Burgers', 'OKC, OK', 13),
 (' Raphael Krantz', '1973-03-21', 'lasagna', 'New York City', 31),
 ('Rob Zifchak', '1989-08-02', 'Sushi', 'Santa Monica, CA', 1.5),
 ('Robert Alterman', '1996-03-16', 'chicken fingers', 'New Rochelle, NY', 3),
 ('Sean Abu Wilson', '1985-02-06', 'strawberry cake', 'Birmingham, AL', 8)]

In [157]:
student_list[0]

('Anastasia Gorina', '1991-07-19', 'oysters', 'St. Petersburg, Russia', 5)

In [24]:
cursor = cnx.cursor()

In [159]:
student_list[0]

('Anastasia Gorina', '1991-07-19', 'oysters', 'St. Petersburg, Russia', 5)

In [27]:
stmt = "INSERT INTO studentinfo2 (name, dob, fav_food, birthplace, years_in_nyc) VALUES (%s, %s, %s, %s, %s)"

# we write a command to insert columns and values into the original table we 
# created, student_info.

cursor.executemany(stmt, student_list)
cnx.commit()